body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Lato, Arial;
  font-weight: bold;
}

body .paper {
  background-color: #f8f8f8 !important;
  padding: 0;
}

body .paper .MuiList-padding {
  padding: 0;
}

.header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.header .logo__container {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.header .logo__container .header__logo {
  margin: 0 10px;
}

.header .search__container {
  max-width: 600px;
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
      align-self: auto;
}

.header .search__container .MuiInputBase-root,
.header .search__container input {
  width: 100%;
  padding-left: 25px;
}

@media (min-width: 960px) {
  .header .search__container {
    width: 40%;
  }
}

.header .login__container {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
      align-self: auto;
}

.header .login__container > span {
  margin-right: 15px;
}

@media (max-width: 960px) {
  .header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 10px 25% 10px 15px !important;
  }
  .header .login__container,
  .header .search__container,
  .header .logo__container {
    margin: 5px 0;
  }
  .header .logo__container {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header .logo__container .makeStyles-title-3 {
    display: block;
    float: left;
  }
  .header .login__container {
    margin: 0px;
    width: 20%;
    float: left;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    position: absolute;
    right: 0;
  }
  .header .login__container > span {
    display: none;
  }
}
/*# sourceMappingURL=Header.css.map */