@import 'Variables';

.header{
        
    .header__logo{
        margin: 0 10px;
    }

    .search__container{
        
    

       .MuiInputBase-root, input{
            width: 100%;
        }

        @media (min-width: 960px){
            width: 40%;
        }
    }

}

