@import 'Variables';

.header{
    
    .header__logo{
        margin: 0 10px;
    }

    .search__container{
        width: 100%;

       .MuiInputBase-root, input{
            width: 100%;
        }
    }

}

