.stock_list{

    > .MuiPaper-root{
        background-color: #fff; 
        .MuiIconButton-root{
            color: #424242;
            padding: 16px;
            margin-right: 10px;
        }
        .MuiAccordionDetails-root{
            padding: 0;
        }
        .MuiAccordionSummary-root{
            padding: 0;
        }
        .MuiAccordionSummary-content.Mui-expanded{
            margin: 0;
        }
    }

    background-color: #fff !important;
    padding: 0;
    margin: 60px 0;


        .stock_list__header{
            padding: 16px;
            color: #424242;
            span{
                color: #424242;
            }
        }

        .stock_list__content{
            padding: 16px;
        }

}