@import 'Variables';


.stock__drawer__container{


    .stock__drawer__header{
        background-color: #f6f6f6;
        padding: 16px 0;
        .MuiContainer-fixed{
            max-width: 100%;
        }

        .stock__drawer__header__title{
            float: left;
            margin: 8px 0 0 0;
        }
        .MuiIconButton-root{

            float: right;
        }

    }
    .drawer{
        background-color: $white;
        border-top: 1px solid $secondary;

        .drawer__inner{
        
            min-height: 100vh;


        
        
            .drawer__header{

                padding: 20px 0;
                display: inline-block;
                width: 100%;
                display: flex;
                align-items: center;

                .stock__symbol{
            
                    line-height: 54px;
                    margin: 0;
                    font-weight: 700;
                    margin-bottom: 0px;
                    width: 100%;
                    float: left;
                    clear: left;

                }

                .stock__name{
                    font-size: 16px;
                    font-weight: 500;
                    color: $gray;
                }

                .stock__exchange{
            
                    padding-left: 3px;
                    font-weight: normal;
                    font-size: 14px;
                    clear: left;
                    float: left;
                    color: $gray;


                }

                .stock__price{
                    line-height: 54px;
                    margin-left: 0;
                    font-size: 35px;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    width: 100%;
                   

                    small{
                    line-height: 14px;
                    font-size: 14px;
                    color: $gray;
                    align-self: baseline;
                    }

                    .stock__change {
                        margin-left: 20px;
                        line-height: 54px;
                        color: #fff;
                    
                        *{
                            color: #fff;
                        }
                    }


                }

                .stock__date{
                    color: $gray;
                }

                .stock__currency{

                }

                .stock__difference{

                }


                .stock__change{
                    &.negative{
                        background-color: #FF0000;
                    }
                    &.positive{
                        background-color: #00D100;
                    }
                }
    

            }

            .drawer__details__header{
                margin-bottom: 20px;
            }

            .drawer__details{
                margin-top: 10px;
                padding: 10px 10px;
                margin-bottom: 30px;
                
                .MuiDivider-root{
                    height: 2px;
                    background-color: rgba(255, 255, 255, 0.5);
                }
                
                .drawer__details__info{

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    

                    .MuiListItemText-primary{

                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 700;
                        color: $gray;
                    }

                    .MuiListItemText-secondary{
                        font-size: 15px;
                        line-height: 20px;
                        color: $primary;
                        font-weight: 700;
                    }


                }
            }
        }
    }
}